<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <!-- <h4 class="hidden">I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Text Rotator</h4> -->
  </div>
  <div class="user-content">
    <p>
      My name is <strong><a href="{{ site.linkedin_url }}" target="_blank">{{ site.user }}</a></strong>. 
      I'm <strong>{{ site.current_designation }}</strong> at 
      <strong><a href="{{ site.current_company_url }}" target="_blank">{{ site.current_company_name }}</a></strong>.
    </p>
    <p>
      I started working on AX Dynamics in September 2017. Since then I've been learning and working on the implementations of AX 2012 and Dynamics 365 projects for different clients.
      The purpose of this blog is to share what I learn and help others finding solution to their problems.
    </p>
  </div>
</div>